.inner-overlay {
    margin: auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-active-item {
    pointer-events: all;
}

.white-text {
    color: white;
}

.pretty-text {
    font-family: Fira Code;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 5%;
}

.click-button {
    padding: 2%;
}
